[submodule "library/ZendFramework"]
	path = library/ZendFramework
	url = git://git.zendframework.com/zf.git
[submodule "modules/SpiffyDoctrine"]
	path = modules/SpiffyDoctrine
	url = git@github.com:lenada/SpiffyDoctrine.git
[submodule "modules/EdpCommon"]
	path = modules/EdpCommon
	url = git@github.com:lenada/EdpCommon.git
[submodule "modules/EdpMarkdown"]
	path = modules/EdpMarkdown
	url = git@github.com:lenada/EdpMarkdown.git
[submodule "modules/EdpUser"]
	path = modules/EdpUser
	url = git@github.com:lenada/EdpUser.git
[submodule "modules/SpiffyDoctrineExtensions"]
	path = modules/SpiffyDoctrineExtensions
	url = git@github.com:lenada/SpiffyDoctrineExtensions.git
[submodule "modules/ZfComposer"]
	path = modules/ZfComposer
	url = git@github.com:lenada/ZfComposer.git
[submodule "modules/ZfCouchDb"]
	path = modules/ZfCouchDb
	url = git@github.com:lenada/ZfCouchDb.git
